doctype html
html
  head
    title= title
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.css')
    //- link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap-theme.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav(id="navbar-custom").navbar.navbar-default.navbar-fixed-top
      div.container
        div.navbar-header
          a(href="#").navbar-brand Add two numbers.
        div.navbar-right
          a(href="/").navbar-brand index
          a(href="/index2").navbar-brand index2
          a(href="/multiply").navbar-brand multiply

    block content
