doctype html
html
  head
    title= title
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.css')
    //- link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap-theme.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
